page-sidemeun {
    .menu-button {
        height: 69px;
        span {
            font-family: HelveticaNeue-Light;
            font-size: 23px;
            color: #ffffff;
            letter-spacing: 0;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .backgrounder,
    {
        background: url("../assets/imgs/backgound_with_buttom.jpg");
        background-size: cover;
        padding: 10px;
        border-radius: 0px 0px 20% 20%;
    }
    .scroll-content {
        background: #5ea3c6;
    }
}