// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.center {
    text-align: center;
}

[center] {
    text-align: center;
}

[max-padding]{
    margin: 46px;
}

[img-center] {
    margin: auto;
}

[brand-color] {
    background-image: linear-gradient(-180deg, #565ab9 0%, #71a9d5 99%);
    border-radius: 13px;
}

[half-padding] {
    padding: 5px;
}

.toolbar-md , .toolbar-ios {
    padding: 0px; 
    min-height: 56px;
}
.toolbar-title-md ,.toolbar-title-ios {
    padding: 0 0px;
    background: transparent;
}

.bigger-icon{
font-size: 2rem;
margin: 5px    
}

.toolbar-background-md , .toolbar-background-ios {
border-color: none;
border: none;
background: transparent;
}

.back-button{
    position: absolute;
    top: 0;
    margin-top: 5px;
}